
.ep-search-modal {
	--ep-search-alternate-background-color: var(--color-alt);
}

.ep-search-modal .ep-search-modal__content {
	background: var(--color-alt);
}

.ep-search-modal .ep-search-page__body {
	gap: var(--spacing-lg);
	padding-top: var(--spacing-xl);
	background: var(--color-white);
}

.ep-search-modal .ep-search-page__header {
	display: flex;
	flex-direction: column;
	gap: 0 1.5em;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: var(--spacing-lg) var(--spacing-md);
	background: var(--color-alt);
}

.ep-search-modal .ep-search-input {
	width: 100%;
	max-width: var(--breakpoint-sm);
}

.ep-search-modal .ep-search-toolbar {
	justify-content: center;
	margin: var(--spacing-md) 0 0;
	padding: 0;
}

.ep-search-modal .ep-search-toolbar > .ep-search-small-button {
	color: var(--color-link);
	background: transparent;
}

.ep-search-modal .ep-search-reset-button,
.ep-search-modal .ep-search-reset-button:focus,
.ep-search-modal .ep-search-reset-button:hover {
	cursor: pointer !important;
}

.ep-search-modal .ep-search-sort__label {
	white-space: nowrap;
}

.ep-search-modal .ep-search-panel__content {
	padding: 0 var(--spacing-lg) var(--spacing-lg);
}

.ep-search-modal .ep-search-options-list__item {
	margin: 0;
	padding: 0;
}

.ep-search-modal .ep-search-checkbox {
	display: flex;
	gap: var(--spacing-xxs);
	align-items: center;
	margin-left: calc(var(--spacing-sm) * -1);
	padding: var(--spacing-xxs) var(--spacing-sm);
	cursor: pointer;
}

.ep-search-modal .ep-search-checkbox:hover,
.ep-search-modal .ep-search-checkbox:focus {
	background: rgba(0, 0, 0, 0.025);
}

.ep-search-modal .ep-search-checkbox > * {
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.ep-search-modal .ep-search-checkbox .ep-search-checkbox__label {
	flex: 1;
}

.ep-search-modal .ep-search-results {
	padding: 0 var(--spacing-lg) var(--spacing-xxl);
}

.ep-search-modal .ep-search-result {
	grid-gap: 0 var(--spacing-lg);
}

.ep-search-modal .ep-search-result__type {
	margin: 0 0 var(--spacing-md);
	padding: var(--spacing-xxs) var(--spacing-sm);
	font-size: var(--font-size-sm);
	line-height: 1;
	background: var(--color-alt);
	border-radius: var(--button-border-radius, var(--border-radius));
}

.ep-search-modal .ep-search-result__title {
	--link-color: var(--color-heading);
	margin-bottom: var(--spacing-sm);
}

.ep-search-modal .ep-search-result__footer {
	margin-top: var(--spacing-md);
	font-size: var(--font-size-sm);
}

.ep-search-modal .ep-search-panel {
	border: var(--border);
	border-radius: var(--border-radius);
}

.ep-search-modal .ep-search-sidebar-toggle {
	margin-top: var(--spacing-lg);
}
