.widget_ep-facet .searchable .inner,
.wp-block-elasticpress-facet .searchable .inner {
	max-height: unset !important;
	overflow: auto !important;
}

.widget_ep-facet .term,
.wp-block-elasticpress-facet .term {
	display: flex;
	gap: 4px;
	align-items: center;
	font-size: 1em;
}

.widget_ep-facet .term a span,
.wp-block-elasticpress-facet .term a span {
	margin-left: 4px;
}

.widget_ep-facet input[type="search"],
.wp-block-elasticpress-facet input[type="search"] {
	display: none !important;
}

.maiep-accordion {
	margin-bottom: var(--spacing-xl, 32px);
	text-align: start;
}

.maiep-accordion .widget:not(:last-child) {
	margin-bottom: var(--spacing-xl, 32px);
}

.maiep-accordion .widget:last-child {
	margin-bottom: 0;
}

@media only screen and (max-width: 999px) {

	.sidebar .maiep-widget-area {
		display: none;
	}
}

@media only screen and (min-width: 1000px) {

	.maiep-accordion {
		display: none;
	}
}
