.ep-autosuggest-container {
	position: relative;
	z-index: 200;
}

.ep-autosuggest-container .ep-autosuggest {
	display: none;
	width: 100%;
	position: absolute;
	top: 100%;
	left: 0;
	background: var(--color-white, #fff);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: 0px 24px 48px -4px rgba(0, 0, 0, 0.04);
}

.autosuggest-list {
	--list-margin: 0;
	--list-item-margin: 0;
	list-style: none;
	max-height: 60vh;
	overflow: auto;
	margin: 0;
	padding: var(--spacing-xs) 0;
	font-family: var(--heading-font-family);
	font-weight: var(--heading-font-weight);
	font-size: var(--font-size-sm);
	line-height: var(--heading-line-height, 1.219);
}

.autosuggest-link {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	padding: var(--spacing-xxs) var(--spacing-md);
	color: var(--color-body, #333);
	text-decoration: none;
}

.autosuggest-link:hover,
.autosuggest-link:focus {
	background-color: rgba(0,0,0,0.04);
}

.autosuggest-link-has-image {
	display: grid;
	grid-template-columns: min(80px, 20%) 1fr;
	align-items: center;
	gap: var(--spacing-sm);
}

span.autosuggest-image {
	background-color: rgba(0, 0, 0, 0.04);
}
