.widget_ep-facet .searchable .inner,
.wp-block-elasticpress-facet .searchable .inner {
	overflow: auto scroll !important;
}

.widget_ep-facet .term,
.wp-block-elasticpress-facet .term {
	--link-text-decoration: none;
	--link-text-decoration-hover: none;
	display: flex;
	gap: 4px;
	align-items: center;
	font-size: 1em;
}

.widget_ep-facet .empty-term,
.wp-block-elasticpress-facet .empty-term {
	--link-color: var(--color-body);
	cursor: not-allowed;
}

.widget_ep-facet .term a span,
.wp-block-elasticpress-facet .term a span {
	margin-left: 4px;
}

.widget_ep-facet input[type="search"],
.wp-block-elasticpress-facet input[type="search"] {
	display: none !important;
}
